
.agenda{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.agenda h1,p,input,select{
    font-family: 'Nunito', sans-serif;
}

.agenda__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
}


.agenda__header{
    align-items: center;
    background-color: rgb(49, 110, 163);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 30px;
}
.agenda__header img{
    width: 120px;
}
#agenda__fecha{
    color: white;
    font-weight: bold;
}

.agenda__suge{
    color: #909090;
    font-size: 13px;
    margin-bottom: 30px;
}


.agenda__info{
    display: flex;
    flex-direction: row;
}
.agenda__info-data{
    padding: 30px;
    width: 50%;
}



.agenda__info-veterinarios{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}
.agenda__button-card{
    background-color: white;
    margin-left: -80px;
    text-align: left;
    transition: margin-left .4s;
}
.agenda__button-card:hover + .agenda__button-card{
    margin-left: -5px;

}
.agenda__veterinarios-card{
    border: 2px solid steelblue;
    border-radius: 6px;
    width: 150px;
}
.agenda__veterinarios-card img{
    border-radius: 6px;
    height: 100px;
    width: 100%;
}
.agenda__veterinarios-card h1{
    font-size: 15px;
    padding: 0px 5px;
}
.agenda__veterinarios-card p{
    font-size: 13px;
    padding: 0px 5px;
}



.agenda__info-schedules{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 50%;
}