button{
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btnLogin{
    color: white;
    background-color: #61bbd6;
    font-size: 20px;
    height: 50px;
    padding: 14px 16px;
    width: 100%;
    font-weight: bold;
}

.btnLogin:hover{
    transition: .4s;
    background-color: #0089b3;
}

.btnLoginCrear{
    color: white;
    background-color: #0089b3;
    font-size: 17px;
    height: 50px;
    padding: 14px 16px;
    width: 51%;
    font-weight: bold;
}

.btnLoginCrear:hover{
    transition: .4s;
    background-color: #00779b;
}

.btnRegistroRegistrate{
    height: 35px;
    padding: 0px 16px;
    background-color: #0089b3;
}

.btnRegistroRegistrate:hover{
    transition: .4s;
    background-color: #00779b;
}