.loginContainer{
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5%;
}

#formLogin__badData {
    color: red;
    padding: 0;
}

.formLogin {
    align-items: center;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: auto;
    width: 100%;
}

#eslogan{
    width: 280px;
}

.login_cont_dr{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.login_cont_iz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 396px;
    text-align: center;
}

.login_cont_iz img{
    width: 400px;
}

.login_cont_iz p{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 20px;
    border-left: 4px double #a9a9a9;
    border-right: 4px double #a9a9a9;
    color: #000052;
    width: 80%;
}
.loginData button{
    font-family: 'Nunito', sans-serif;
}

.loginData p{
    color: black;
}

.loginData{
    background-color: rgb(255, 255, 255);
    width: 396px;
    height: auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    gap: 15px;
}

.loginData p{
    font-size: 18px;
    padding: 10px 0 20px 0;
}

.hr{
    align-items: center;
    color: #1d212961;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.hr hr{
    width: 100%;
    border: none;
    background-color: #1d212961;
    height: 1px;
}

.enlaceBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#warn-login {
    color: red;
    font-size: 15px;
    margin-top: -10px;
    padding: 0px;
    width: 100%;
}

#login-spin {
    border-bottom: 2px solid #008eff;
    border-top: 2px solid #008eff;
    border-left: 2px solid #ffffff00;
    border-right: 2px solid #ffffff00;
    position: relative;
    width: 20px;
    height: 20px;
}