.contenedor__schedules{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow-y: scroll;
    width: 100%;
}

.days_register{
    display: flex;
    width: 63%;
    justify-content: space-between;
    color: #1d2129;
}

.div_select_days_register{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.day_option_register{
    align-items: center;
    background-color: #0089b240;
    border-radius: 6px;
    color: #1d2129;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    letter-spacing: 1px;
    width: 20%;
}

.day_option_register:hover{
    border: 2px solid #009bc9;
}

.day_register_active{
    background-color: #61bbd6;
    border: 2px solid #009bc9;
}

.days_time_register {
    border-bottom: 1px solid #009bc9;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
}

.days_time_register:nth-child(2n - 1) {
    background-color: aliceblue;
}

.days_time_register input {
    background-color: #ffffff00;
}

.days_time_register p{
    width: 170px;
    font-size: 12px;
}

.time_register{
    align-items: center;
    display: flex;
    font-size: 12px;
    gap: 5px;
}

.time_register input{
    outline: none;
    border: none;
}

.hidden{
    display: none;
}

.show{
    display: block;
}


/* REGISTRO VETERINARIO Y USUARIO */

#div_100{
    justify-content: center;
    display: flex;
    width: 100%;
}

.h4_register_clinica{
    align-self: flex-start;
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 68%;
    color: #004f66;
}

.cont_icon{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user_icon{
    align-items: center;
    background-color: #0089b2;
    border-radius: 6px;
    color: white;
    display: flex;
    font-size: 45px;
    height: 50px;
    justify-content: center;
    text-align: center;
    width: 50px;
}

#select{
    padding: 11px;
    height: 43px;
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    color: #1d2129;
}

#select:focus{
    outline: none;
}