.filterCitas{
    display: flex;
    justify-content: center;
    margin: 60px 0px;
    width: 100%;
}

.filterCitas__cont {
    border-radius: 6px;
    box-shadow: 0px 0px 9px 0px #bfbfbf;
    height: 90px;
    padding: 20px 15px;
    width: 30%;
}
.filterCitas__cont h1,p,input{
    font-family: 'Nunito', sans-serif;
}

.filterCitas__title {
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 6px;
    color: #484848;
    cursor: pointer;
    margin-top: -15px;
    font-size: 21px;
    font-weight: 100;
    padding: 1px 20px;
    height: 35px;
    position: absolute;
}
.filterCitas__filters{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}