

.profile{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.profile__right {
    
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    padding: 50px;
    width: 80%;
}
.profile__section{
    color: #61bbd6;
}
.profile__left{
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
}



/* .......... MASCOTAS .......... */
.profile__misMascotas {
    border-bottom: 2px solid #61bbd6;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 210px;
    width: 100%;
    scroll-behavior: auto;
    overflow-y: scroll;
}
.mascotaCard__button{
    height: 190;
    width: auto;
}
.mascotaCard__mascota:hover{
    transition: .7s;
    background-color: #00000000;
    background-position: 20px;
}


.mascotaCard{
    border-radius: 6px;
}

.mascotaCard h1,h2,p{

    font-family: 'Nunito', sans-serif;
}


.mascotaCard__mascota {
    align-items: flex-end;
    background-color: #0000007a;
    box-shadow: 0px 0px 9px 0px #5a5a5a;
    border-radius: 6px;
    display: flex;
    height: 190px;
    transition: .4s;
    width: 300px;
}

.mascotaCard__info {
    color: white;
    background-color: #000000af;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-align: left;
    transition: .4s;
    width: 45%;
}

.mascotaCard__info h2{
    font-size: 15px;
    font-weight: 100;

}

/* ....................... PHOTO ....................... */
.photoProfile{
    background-color: #5a5a5a;
    border-radius: 100%;
    height: 150px;
    margin-top: -70px;
    width: 150px;
    z-index: 1;
}
.photoProfile img{
    border-radius: 100%;
    height: auto;
    width: 100%;
}
@supports(object-fit: cover){
    .photoProfile img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.photoProfile__background{
    filter: brightness(45%);
    height: 30%;
    width: 100%;
}
   

