*{
    margin: 0;
    padding: 0%;
}
.profile{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    background-color: #f0f2f5;
    height: 70%;
}
.profile_photo{
    border-radius: 15px;
    width: 270px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.profile_nav{
    margin-top: 25px;
    padding: 10px 0px;
    border-radius: 15px;
    width: 270px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    height: 240px;
}
.imgProfile{
    border-radius: 15px 15px 0px 0px;
    height: 280px;
    width: 270px;
    filter: blur(1.5px);
    z-index: -1;
}
.imgProfile_min{
    border-radius: 100%;
    width: 140px;
    border: 5px solid white;
    overflow: hidden;
    margin-top: -130px;    
    z-index: 1;
}
.part2_photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part3_photo{
    padding: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
.part3_photo h1{font-weight: lighter;}
.part3_photo h3{font-weight: lighter;}
.navi_menu_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li{
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    gap: 5px;
    padding: 10px;
    width: 100%;
    margin: 2px;
}
.a{
    transition: 0.4s;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
li:hover{
    transition: 0.4s;
    background-color: #94d9ee5e;
    border-left: 5px solid #0089b3;
    padding: 10px;  
}
.active_li{
    transition: 0.4s;
    background-color: #94d9ee5e;
    border-left: 5px solid #0089b3;
    padding: 25px;
}

.section_profile_right{
    position: relative;
    width: 70%;
    border-radius: 15px;
    margin: 25px 25px 25px 35px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 900px;
}
.section_profile_left{
    margin: 25px 25px 25px 35px;
}
.btnAgregarMascota{
    margin-top: 20px;
}
.am{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
}
.title{
    margin-top: 150px;
    font-weight: lighter;
}
.titlePage{
    margin-top: 50px;
    font-weight: 600;
    color: #0089b2;
}   
