
.register_container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registerData{
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: auto;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    gap: 15px;
}

#MdOutlineCancel {
    font-size: 33px;
    color: #ff7d7d;
    cursor: pointer;
    margin-top: -25px;
    margin-right: -5px;
}

#MdOutlineCancel:hover {
    transition: .4s;
    color: #a50000;
}

#titulo_MdOutlineCancel {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 149px;
    justify-content: flex-end;
}

#register_steps{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.step{
    border: 2px solid #bababa;
    color: #bababa;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea_step{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    font-size: 21px;
    color: #bababa;
}

.color_linea_step{
    color: #1877f2;

}

.color_step{
    color: #ffffff;
    border: 2px solid #006fff;
    background-color: #1877f2;
}

#p1Registro{
    padding: 0;
    font-size: 15px;
    color: #606770;
}

#registro_column1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

#registro_cuenta_existente{
    cursor: pointer;
    color: #1877f2;
    text-decoration: none;
}

.registro_sexo{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#p2Registro{
    padding: 0;
    font-size: 13px;
    color: #606770;
}

.registro_checkbox{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.registro_checkbox p{
    font-size: 15px;
    padding: 0;
}

.cont_registro_checkbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

