
.register_container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registerData{
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 520px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    gap: 15px;
}

.registerDataAuto{
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: auto;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    gap: 15px;
}

#MdOutlineCancel {
    font-size: 33px;
    color: #ff7d7d;
    cursor: pointer;
    margin-top: -25px;
    margin-right: -5px;
}

#MdOutlineCancel:hover {
    transition: .4s;
    color: #a50000;
}

#titulo_MdOutlineCancel {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 135px;
    justify-content: flex-end;
}

#titulo_MdOutlineCancel1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 215px;
    justify-content: flex-end;
}

#register_steps{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.step{
    width: 35px;
    height: 35px;
    border: 2px solid #bababa;
    color: #bababa;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea_step{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    margin-top: -4px;
    font-size: 21px;
    color: #bababa;
    height: 100%;
}


.color_step{
    color: white;
    border:  2px solid #0089b3;
    background-color: #0089b3;
}

.color_linea{
    color: #0089b3;
}

#p1Registro{
    padding: 0;
    font-size: 15px;
    color: #606770;
}

#registro_column1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

#registro_cuenta_existente{
    cursor: pointer;
    color: #1877f2;
    text-decoration: none;
}

.registro_sexo{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#p2Registro{
    padding: 0;
    font-size: 13px;
    color: #606770;
}

.registro_checkbox{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.registro_checkbox p{
    font-size: 15px;
    padding: 0;
}

.cont_registro_checkbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* ------------- DISEÑO TARJETAS STEP 1 ------------- */

.types_users{
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.card_type_user{
    align-items: center;
    border: 3px double #0089b2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    width: 170px;
}

.card_type_user:hover{
    transition: background-color .5s ease;
    border: 3px solid #0089b2;
    background-color: #0089b21a;
    cursor: pointer;
}

.card_type_user h3{
    font-size: 20px;
    color: #0089b1;
}

#p_type_user {
    line-height: 25px;
    color: #6a6a6a;
}

.img_type_register{
    font-size: 40px;
    color: rgb(195, 195, 195);
    height: 50px;
}

.color_img_type_register{
    transition: .7s;
    font-size: 50px;
    color: #0089b2;
}

.color_card_type_user{
    background-color: #0089b21a;
    border: 3px solid #0089b2;
}


/*  WARNING CHECK   */ 

.warn_check{
    align-items: center;
    background-color: #0089b24f;
    border: 2px solid #0089b2;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    width: 100%;

}

.hidden{
    display: none;
}

#ImWarning {
    font-size: 25px;
    margin-bottom: -7px;
}

/* --------------------------------- */

.rows_register{
    font-size: 40px;
    cursor: pointer;
    color: #0089b3;
    height: 25px;
}

.rows_register:hover{
    transform: scale(1.1);
    transition: .4s;
    color: #005f7c;
}
