.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
    display: none;
}
.modal.modalOpen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContainer{
    position: relative;
    background-color: azure;
    width: 70vh;
    height: 90vh;
    overflow-y: scroll;
    padding: 1rem;
}
#MdOutlineCancelVet {
    font-size: 33px;
    color: #ff7d7d;
    cursor: pointer;
    margin-top: -25px;
    margin-right: -5px;
}

#MdOutlineCancelVet:hover {
    transition: .4s;
    color: #a50000;
}
/* //////////////////// */

