*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,input,button{
    font-family: 'Nunito', sans-serif;
}
.st1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #03a9db;
}
.st2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
    border-radius: 6px;
    width: 95%;
    height: 95%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.st3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.st4{
    overflow-y: scroll;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 30%;
    height: 70vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}
::-webkit-scrollbar {
    display: none;
}
span{
    color: #34007985;
}
#imgVet{
    width: 105px;
}
#imgLi{
    width: 65px;
    padding-right: 10px;
}
.liVetSpaceFem{
    transition: 0.5s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: #f957ff3a;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    width: 50vh;
}
.liVetSpaceMas{
    transition: 0.5s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: #35c8f53d;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    width: 50vh;
}
    /* box-shadow: linear-gradient(45deg, rgba(255, 0, 0, 0.472), rgba(255, 166, 0, 0.472), rgba(255, 255, 0, 0.472), rgba(0, 128, 0, 0.472), rgba(0, 0, 255, 0.472), rgba(76, 0, 130, 0.472), rgba(238, 130, 238, 0.472), rgba(255, 0, 0, 0.472)); */
.liVetSpace{
    transition: 0.5s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    color: #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    width: 50vh;
}
.liVetSpaceDef{
    transition: 0.5s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    color: #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    width: 50vh;
}
.liVetSpaceFem:hover{
    transition: 0.5s;
    background-color: #e081cb77;
}
.liVetSpaceDef:hover{
    transition: 0.5s;
    background-color: #81808177;
}
.liVetSpaceMas:hover{
    transition: 0.5s;
    background-color: #76bad485;
}
.liVet{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.liVetA{
    margin-left: 20px;
}
.st5{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 45%;
    height: 75vh;
    border-radius: 6px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.bottomForm{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 5vh;
}
.formVet{
    margin-top: 5vh;
    height: 85vh;
    align-items:  center;
}
.inputsVet{
    display: flex;
    flex-direction: column; 
    gap: 20px;
}
.labelsVet{
    display: flex;
    flex-direction: column; 
    gap: 25px;
    font-size: 25px;
}
.iVet{
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #03a9db;
    color: #00779b;
    width: 35vh;
}
.imgForm{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
#imgForm{
    width: 30%;
}
.idSection{
    width: 20vh;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.idSection h3{
    font-size: 25px;
    color: #03a9db;
}
.btnSection{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20vh;
}
.btnActualizar{
    transition: 0.3s;
    width: 25vh;
    font-size: 25px;
    padding: 3px 10px 3px 10px;
    background-color: #1f9b00;
    color: #ffffff;
}
.btnDeshabilitar{
    transition: 0.3s;
    width: 25vh;
    font-size: 25px;
    padding: 3px 10px 3px 10px;
    background-color: #9b0000;
    color: #ffffff;
}
.btn:hover{
    transition: 0.3s;
    background-color: #616161;
    color: #e9e9e9;
}