
*{
    margin: 0;
    padding: 0;
}
.gestion_space{
    display: flex;
    gap: 15px;
}
.title_profile_clinic{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_clinica h1,h2,h3,h4,h5,h6,input,button,span{
    font-family: 'Ruda', sans-serif;
    color: #0072ff;
}
.profile_clinica{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section_profile_1_clinics{
    display: flex;
    width: 155vh;
}
.section_profile_3_clinics{
    background: linear-gradient(360deg, #61bbd6,#0072ff);
    height: 25vh;
}

/* Horarios */
/* .table_horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
.horarios_define{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    width: 65vh;
    padding: 2vh;
    position: relative;
}
.horarios_define_hidde{
    display: none;
}
.horarios_define_show{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    width: 150vh;
    padding: 2vh;
    position: relative;
}
.header_table{
    display: flex;
    flex-direction: row;
    background-color: #ddf4ff;
}
.head{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_1{
    width: 25vh;
}
.head_2{
    width: 65vh;
}
.days{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    border-bottom: 1px solid #a8dff8;
}
.days_viernes{
    border-bottom: none;
}
.days_lunes{
    border-top: 1px solid #a8dff8;
}
.hours_lunes{
    border-top: 1px solid #a8dff8;
}
.hours{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vh;
    gap: 75px;
    border-bottom: 1px solid #a8dff8;
    border-left: 1px solid #a8dff8;
}
.hours_viernes{
    border-bottom: none;
}
.body_table{
    display: flex;
    flex-direction: row;
}

/* Perfil Left */
.section_profile_4_clinics{
    margin-top: -13rem;
    z-index: 10001;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    height: 95vh;
}
.img_profile_clinic{
    width: 20vw;
    height: 20vw;
    align-items: center;
    display: flex;
    justify-content: center;
}
.img_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* Perfil Editable */
.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfil_hidde{
    display: none;
}
.perfil_show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Bottom section */
.section_bottom{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
}

/* Tabla horarios */
